:root {
  --bg1: #050d18;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--bg1);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  overflow: hidden;
  animation: anime1 6s 3;
}

nav {
  background: #050d18;
  padding: 1em;
  border-radius: 2em;
}

nav a {
  text-decoration: none;
  text-transform: capitalize;
  color: whitesmoke;
  font-size: medium;
  font-weight: 500;
  margin: 0em 2em;
  /* padding: 0em 0em; */
  position: relative;
}

nav a:hover {
  color: #59c959;
}

a::before {
  content: "";
  border-radius: 1em;
  position: absolute;
  bottom: -0.7em;
  width: 0%;
  height: 2px;
  background: antiquewhite;
  animation: shake 1s infinite;
  transition: all 0.5s;
}

nav a:hover::before {
  width: 100%;
  height: 5px;
  background: #3d943d;
}

span {
  color: #3d943d;
}

h1 {
  animation: anime2 5s 5;
  font-size: 2em;
  color: whitesmoke;
}

h5 {
  color: lightslategray;
  font-weight: 500;
}

@keyframes anime1 {
  0% {
    background: var(--bg1);
  }

  50% {
    background: #0a1524;
  }

  100% {
    background: var(--bg1);
  }
}

@keyframes anime2 {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(-2deg);
  }

  20% {
    transform: rotate(2deg);
    color: #3d943d;
  }

  30% {
    transform: rotateX(180deg);
  }

  40% {
    transform: rotate(-2deg);
    color: #ffd500;
  }

  50% {
    transform: rotate(2deg);
    color: #fd0000;
  }

  60% {
    transform: rotate(-2deg);
    color: var(--bg1);
  }

  70% {
    transform: rotate(2deg);
    color: #076eff;
  }

  80% {
    transform: rotateY(-180deg);
    color: whitesmoke;
  }

  90% {
    transform: rotate(2deg);
    color: #7d0072;
  }

  100% {
    transform: rotate(0deg);
    color: #ff9100;
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
